*{
    margin : 0;
    padding: 0;
}

#fileInput{
    display: none;
}

#divResult{
    width: 90%;
	height: 60px;
	border: solid black 1px;
	margin: 0px auto;
}


#divImgResult{
    margin: 0px 0px;
    width: 260px;
    height: 100px;
    background-color: brown;
}
