* {
	margin: 0;
	padding: 0;
    outline: none;
    overflow: hidden;
}

#fileInput {
	display: none;
}

#divResult {
	width: 95%;
	position: absolute;
	top: 25%;
    left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#divImgResult {
	margin: 0;
	position: absolute;
    top: calc(25% + 100px);
}

#progressDiv {
	width: 90%;
	height: 25px;
	margin: 0px auto;
	text-align: center;
}

#progressBar {
	height: 100%;
	background-color: black;
	width: 0%;
}

#progressBarDiv {
	border-radius: 25px;
	height: 3px;
	background-color: #888888;
	width: 100%;
}
